
.item{
  padding: 10px;
  color: aliceblue;
}
.navbar {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.navbar h1 {
  color: rgb(245, 6, 6);
  /* color: #fff; */
  font-family: "McLaren", cursive;
  font-weight: 500;
}