* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background-image: url("https://www.thenbs.com/-/media/uk/new-images/by-section/knowledge/knowledge-articles-hero/multi-storey-car-park.jpg?as=1&w=1920&hash=E13FAC2B2C598C30D7DB74588E987B9DAF63F798");
  backdrop-filter: blur(2px);
}

.navbar {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.navbar h1 {
  color: rgb(245, 6, 6);
  /* color: #fff; */
  font-family: "McLaren", cursive;
  font-weight: 500;
}

.field {
  background: rgba(250, 248, 248, 0.2);
  display: block;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.cont {
  position: relative;
  margin: 15% 0 0 35%;
}
.cont-button {
  position: relative;
  margin: 2% 45%;
}
.cont-button2 {
  position: relative;
  margin: 0% 41%;
}
.mapview {
  height: 85%;
  width: 100%;
  margin: 40px 20px;
  border: 1px solid #555;
}
.secondHome {
  display: flex;
  background-color: #d3d3d3;
  height: 89.5vh;
}
.grayscale {
  filter: invert(100%);
}
.ui.column.grid>[class*="seven wide"].column, .ui.grid>.column.row>[class*="seven wide"].column, .ui.grid>.row>[class*="seven wide"].column, .ui.grid>[class*="seven wide"].column {
  width: 38.75%!important;
}
form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.signin {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 450px;

  float: left;
  margin-top: 70px;
  margin-left: 34%;
  position: relative;
}

#page-container {
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;
}

.input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(155, 149, 149, 0.2);
  width: 300px;
  border-radius: 7px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 20px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  columns: #333333;
  font-weight: 300;
}

.signupbutton {
  appearance: none;
  outline: 0;

  background-color: rgb(34, 30, 30);
  border: 0;
  padding: 10px 15px;
  color: #fff;
  border-radius: 7px;
  width: 300px;
  font-size: 18px;
  margin-left: 65px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  /* background-color: rgb(109, 109, 109); */
  color: #f5ba13;
}
.or {
  text-align: center;
}

.x {
  display: inline;
  height: 20px;
  width: 20px;
}
.y {
  display: inline-block;
  margin-bottom: 0;
}

.google {
  text-align: center;
  box-shadow: 0 2px 5px #ccc;
  height: 46px;
  width: 150px;
  background-color: #fff;
  padding: 9px;
  border-radius: 10px;

  margin-left: 31%;
  display: block;
  cursor: pointer;
  border: 0;
}
/* .google:hover{
  background-color: rgb(109, 109, 109);

  text-decoration: none;
} */

.bold {
  color: #555555;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 600;
  padding-top: 12px;
  padding-left: 7px;
}
.newtokeeper {
  margin-left: 30%;
  margin-bottom: 20px;
}
.sign {
  margin-bottom: 20px;
  text-align: center;
}
/* .up{
  color: #fab801;
} */

.confirm {
  margin-bottom: 2px;
}
.match {
  margin-left: 66px;
  color: red;
  font-size: 14px;
  margin-bottom: 0px;
}
.mail {
  margin-left: 82%;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
